@page 

@{
    ViewData["Title"] = "Incrocio1";
    
}

<div class="animated fadeIn">
    <div class="row">

        <!-- colonna temperatura -->
        <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
                <div class="card-body pb-0">

                    <h4 class="card-title mb-0">Temperatura</h4>
                    <div id="messagesList" class="text-value">°C</div>

                </div>
                <div class="chart-wrapper mt-3" style="height:70px;">
                    <canvas class="chart" id="card-chart3" height="70"></canvas>
                </div>
            </div>
        </div>
        <!-- colonna stato semaforo -->


    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title mb-0">INCROCIO 1</h4>

                <div class="small text-muted">@DateTime.Now</div>
            </div>
            <!-- /.col-->
            <div class="col-sm-7 d-none d-md-block">
                <button class="btn btn-primary float-right" type="button" value="reload" onClick="document.location.reload(true)">
                    <i class="icon-refresh"></i>
                </button>
                
            </div>

        </div>
        <!-- /.row-->
        <div id="messagesList" class="chart-wrapper" style="height:300px;margin-top:40px;">
            <canvas class="chart-area" id="lineChart" height="300"></canvas>
        </div>
    </div>
    <div class="card-footer">
        <div class="row text-center">
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Auto</div>
                <strong></strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Camion</div>
                <strong></strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Moto</div>
                <strong></strong>
                <div class="progress progress-xs mt-2">
                    <div class="progress-bar bg-red" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script src="~/lib/coreui/js/custom-tooltips.min.js"></script>
    <script src="~/lib/coreui/js/main.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/Sen.js"></script>
    <script src="~/lib/coreui/js/charts.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/bootstrap.js"></script>
}

