@page
@model Smartcross.WebApp.Pages.StoricoModel
@{
    ViewData["Title"] = "Storico";
}


    

    <div class="wrapper" style="text-align:center">
        <img src="~/img/avatars/triangolo.png" alt="IN LAVORAZIONE" />
        <h2>Pagina in lavorazione.</h2>
    </div>
        
    

    