<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            
            <li class="nav-item">
                <a class="nav-link" asp-page="Incrocio1">
                    <i class="nav-icon icon-directions"></i> Incrocio 1

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="Incrocio2">
                    <i class="nav-icon icon-directions"></i> Incrocio 2

                </a>
            </li>
        </ul>
       
            
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>